<div class="text-center py-3">
    <i class="fas fa-coffee root-icon fa-2x p-3 rounded-circle border-width-3 text-warning"></i>
  <h4>Say something</h4>
</div>

<div class="container">
  <div class="row justify-content-between">

    <div class="col-8  shadow rounded-lg">
      <div class="chatbox pt-1 d-flex flex-column">

        <div class="content mb-auto">
          <% @messages.each do |message| %>
            <%= render 'shared/message', body: message.body, user: message.user.username %>
          <% end %>
        </div>

        <%= form_for(@message, url: message_path, html:{class:"border-top pt-2 d-flex"}) do |f|%>
          <%= f.text_field :body, class:"form-control", placeholder: "Enter a message..." %>
          <%= f.button '<i class="fas fa-paper-plane"></i>'.html_safe ,class:"btn btn-warning" %>
        <% end %>

        <%# <form action="#" class="border-top pt-2 d-flex">

          <input type="text" class="form-control" placeholder="Enter a message...">
          <button class="btn btn-warning" type="submit"><i class="fas fa-paper-plane"></i></button>
        </form> %>


      </div>
    </div>



    <div class="col-3 shadow rounded-lg">
      <div class="chatbox">
        <nav class="nav flex-column nav-fill bg-dark rounded-lg my-3 ">
          <a class="nav-link nav-btn text-white border-bottom border-light text-left" href="#">Home</a>
          <a class="nav-link nav-btn text-white border-bottom border-light text-left" href="#">Messages</a>
          <a class="nav-link nav-btn text-white text-left" href="#">Friends</a>
        </nav>
      </div>
    </div>

  </div>
</div>
