<div class="text-center py-3">
    <i class="fas fa-coffee root-icon fa-2x p-3 rounded-circle border-width-3 text-warning"></i>
  <h4>Say something</h4>
</div>

<div class="container">
  <div class="row justify-content-between">
    <div class="col-9 border">
      hola
    </div>



    <div class="col-3 border">

      <nav class="nav flex-column nav-fill bg-dark rounded-lg my-3 ">
        <a class="nav-link nav-btn text-white border-bottom border-light text-left" href="#">Home</a>
        <a class="nav-link nav-btn text-white border-bottom border-light text-left" href="#">Messages</a>
        <a class="nav-link nav-btn text-white text-left" href="#">Friends</a>
      </nav>

    </div>
  </div>

</div>
