// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.root-icon {
	border: 3px solid #aaaaaa;
	// color: orangered;
}

.nav-btn:hover {
	background-color: #5a6268 !important;
}

.chatbox {
	height: 450px;
}

#messages-container {
	overflow-y: scroll;
}
